<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8" />
    <title>W3C - {{ page.title }}</title>
    <link media="handheld, all" type="text/css" href="https://w3.org/2008/site/css/minimum" rel="stylesheet" />
    <style media="print, screen and (min-width: 481px)" type="text/css">
    @import url("https://w3.org/2008/site/css/advanced");
    </style>
    <link media="handheld, only screen and (max-device-width: 480px)" type="text/css" rel="stylesheet" href="https://w3.org/2008/site/css/minimum" />
    <meta content="width=device-width" name="viewport" />
    <link media="print" type="text/css" href="https://w3.org/2008/site/css/print" rel="stylesheet" />
    <style>
.image_box {
  margin: 10px 0;
  float: right;
  width: 100%;
  /* background: #ffffdd; */
}

.image_box img {
  max-width: 20%;
  float: right;
}

.image_box p {
  /* border: solid 3px black; */
  margin: 0;
  padding: 10px 10px 10px 30px;
}

.image_box dl {
  /* border: solid 3px black; */
  margin: 0;
  padding: 10px 10px 10px 10px;
}

.text_on_the_left_side_of_img {
  width: 80%;
  float: right;
}
</style> </head>
  <body class="w3c_public" id="www-w3-org">
    <div id="w3c_container">
      <div id="w3c_mast">
        <!-- #w3c_mast / Page top header -->
        <h1 class="logo"> <a href="/" accesskey="1" tabindex="2"><img height="53" width="90" alt="W3C" src="https://w3.org/2008/site/images/logo-w3c-mobile-lg" /></a> <span class="alt-logo">W3C</span> </h1>
        <div id="w3c_nav">
          <form enctype="application/x-www-form-urlencoded" method="get" action="http://www.w3.org/Help/search">
            <!-- w3c_sec_nav is populated through js -->
            <div class="w3c_sec_nav">
              <!-- --> </div>
            <ul class="main_nav">
              <!-- Main navigation menu -->
              <li class="first-item"> <a href="https://w3.org/standards/">Standards</a> </li>
              <li> <a href="https://w3.org/participate/">Participate</a> </li>
              <li> <a href="https://w3.org/Consortium/membership">Membership</a> </li>
              <li class="last-item"> <a href="https://w3.org/Consortium/">About W3C</a> </li>
              <li class="search-item">
                <div id="search-form"> <input title="Search" value="" name="q" class="text" tabindex="3" /> <button type="submit" name="search-submit" id="search-submit"><img height="17" width="21" alt="Search" src="https://w3.org/2008/site/images/search-button" class="submit" /></button> </div>
              </li>
            </ul>
          </form>
        </div>
      </div>
      <!-- /end #w3c_mast -->
      <div id="w3c_main">
        <div class="w3c_leftCol" id="w3c_logo_shadow"> <img height="32" src="https://w3.org/2008/site/images/logo-shadow" alt="" /> </div>
        <div class="w3c_leftCol" id="w3c_sidenavigation">
          <h2 class="offscreen"> Site Navigation </h2>
          <h3 class="category"> <span class="ribbon"><a title="Up to Consortium" href="https://w3.org/Consortium/">コンソーシアム<img height="13" width="13" class="header-link" alt="Header link" src="https://w3.org/2008/site/images/header-link" /></a></span> </h3>
          <ul class="theme">
            <!-- About W3C-Keio -->
            <li> <a href="http://www.w3.org/Consortium/Hosts/Keio/">W3C (World Wide Web Consortium)について</a> </li>
            <!-- W3C Activities -->
            <li> <a href="http://www.w3.org/Consortium/Hosts/Keio/activities.html">W3Cの活動</a> </li>
            <!-- Translations of Technical Documents -->
            <li> <a hreflang="ja" href="http://www.w3.org/2003/03/Translations/byLanguage?language=ja">翻訳された技術文書</a> </li>
            <!-- Current W3C-Keio Members -->
            <li> <a href="http://www.w3.org/Consortium/Hosts/Keio/keio-members.php">W3C 日本・韓国会員リスト</a> </li>
            <!-- Contact -->
            <li> <a href="http://www.w3.org/Consortium/Hosts/Keio/contact.html">お問い合わせ</a> </li>
            <!-- Join W3C -->
            <li> <a href="http://www.w3.org/Consortium/Hosts/Keio/join.html">W3Cへの参加方法</a> </li>
          </ul>
          <br />
        </div>
        <div class="w3c_mainCol">
          <div id="w3c_crumbs">
            <div id="w3c_crumbs_frame">
              <ul class="bct">
                <!-- .bct / Breadcrumbs -->
                <li class="skip"><a href="#w3c_content_body" title="Skip to content (e.g., when browsing via audio)" accesskey="2" tabindex="1">Skip</a></li>
                <li><a href="/">W3C</a><span class="cr">»</span></li>
                <li><a href="https://w3.org/Consortium/Hosts/Keio">Keio</a><span class="cr"></span> <br />
                </li>
                <!-- W3C-Keio Members -->
                <li class="current"><br />
                </li>
              </ul>
            </div>
          </div>
          <h1 class="title">{{ page.title }}</h1>
          <div id="w3c_content_body">
            {{ content }}
          <!-- /end #w3c_content_body --> </div>
        <!-- /end #w3c_mainCol --> </div>
      <!-- end #w3c_main --> </div>
    <!-- /end #w3c_container -->
    <div id="w3c_footer">
      <div id="w3c_footer-inner">
        <h2 class="offscreen"> Footer Navigation </h2>
        <div class="w3c_footer-nav">
          <h3> Navigation </h3>
          <ul class="footer_top_nav">
            <li> <a href="https://w3.org/">Home</a> </li>
            <li> <a href="https://w3.org/standards/">Standards</a> </li>
            <li> <a href="https://w3.org/participate/">Participate</a> </li>
            <li> <a href="https://w3.org/Consortium/membership">Membership</a> </li>
            <li class="last-item"> <a href="https://w3.org/Consortium/">About W3C</a> </li>
          </ul>
        </div>
        <div class="w3c_footer-nav">
          <h3> Contact W3C </h3>
          <ul class="footer_bottom_nav">
            <li> <a href="https://w3.org/Consortium/contact">Contact</a> </li>
            <li> <a href="https://w3.org/Help/" accesskey="0">Help and FAQ</a> </li>
            <li> <a href="https://w3.org/Consortium/sup">Donate</a> </li>
            <li> <a href="https://w3.org/Consortium/siteindex">Site Map</a> </li>
            <li>
              <address id="w3c_signature"> <a href="mailto:site-comments@w3.org">Feedback</a> (<a href="http://lists.w3.org/Archives/Public/site-comments/">archive</a>) </address>
            </li>
          </ul>
        </div>
        <div class="w3c_footer-nav">
          <h3> W3C Updates </h3>
          <ul class="footer_follow_nav">
            <li> <a title="Follow W3C on Twitter" href="http://twitter.com/W3C"><img height="83" width="78" class="social-icon" alt="Twitter" src="https://w3.org/2008/site/images/twitter-bird" /></a> <a title="See W3C on Identica" href="http://identi.ca/w3c"><img height="83" width="91" class="social-icon" alt="Identica" src="https://w3.org/2008/site/images/identica-logo" /></a> </li>
          </ul>
        </div>
        <!-- #footer address / page signature -->
        <p class="copyright"> Copyright c 2017 W3C <sup>R</sup> (<a href="http://www.csail.mit.edu/"><acronym title="Massachusetts Institute of Technology">MIT</acronym></a>, <a href="http://www.ercim.eu/"><acronym title="European Research Consortium for Informatics and Mathematics">ERCIM</acronym></a>, <a href="http://www.keio.ac.jp/">Keio</a>, Beihang) <a href="https://w3.org/Consortium/Legal/ipr-notice">Usage policies apply</a>. </p>
      </div>
    </div>
    <!-- /end #footer -->
    <div id="w3c_scripts">
      <script src="https://w3.org/2008/site/js/main" type="text/javascript">
//&amp;amp;amp;amp;amp;amp;lt;![CDATA[
      &amp;amp;amp;amp;amp;amp;lt;!-- --&amp;amp;amp;amp;amp;amp;gt;
      //]]&amp;amp;amp;amp;amp;amp;gt;
      </script> </div>
  </body>
</html>
